{% extends 'base.html' %}
{% block title %}О компании{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
{% load static %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li>\</li>
        <li>О компании</li>
    </ul>
    <section class="company__services">
        <h2>О компании</h2>
        <h3>Виды услуг</h3>
        <div class="company__services--list">
            <div class="services__item">
                <img src="{% static 'images/images/icon_1.png' %}" alt="">
                <div class="services__item--description">
                    <h4>Обслуживание и ремонт</h4>
                    <p>Наши специализированные сервисы производят ремонт инструмента любой сложности. Вся техника обслуживается качественными и надежными расходными материалами.</p>
                </div>
            </div>
            <div class="services__item">
                <img src="{% static 'images/images/icon_2.png' %}" alt="">
                <div class="services__item--description">
                    <h4>Сдача инструмента в аренду</h4>
                    <p>Инструмент, который сдается в аренду является лучшим временным решением для любого рода деятельности. Весь инструмент обслужен и готов к работе уже сейчас.</p>
                </div>
            </div>
            <div class="services__item">
                <img src="{% static 'images/images/icon_3.png' %}" alt="">
                <div class="services__item--description">
                    <h4>Скупка вашего инструмента</h4>
                    <p>Скупаем устаревшую, сломанную технику. При сдаче своей техники получаете скидку на заказ новой. Скупка производится в сервисном центре.</p>
                </div>
            </div>
            <div class="services__item">
                <img src="{% static 'images/images/icon_4.png' %}" alt="">
                <div class="services__item--description">
                    <h4>Продажа расходников и запчастей</h4>
                    <p>В нашем магазине продаются материалы и запчасти от лидирующих брендов, которые славятся своим качеством и ценой. При заказе расходных материалов и запчастей действует скидка на установку и обслуживание вашей техники.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="company__info">
        <div class="company__info-item">
            <h2>Отзывчивость</h2>
            <p>Наши сотрудники всегда помогут Вам</p>
        </div>
        <div class="company__info-item">
            <h2>Более 500 единиц</h2>
            <p>В нашем магазине имеется большой ассортимент товара</p>
        </div>
        <div class="company__info-item">
            <h2>Быстрая сделка</h2>
            <p>Мы способствуем ускорению проведения сделок</p>
        </div>
    </section>
    <section class="company__description">
        <div class="company__description--item">
            <h3>О Доме инструмента</h3>
            <p>Оборудование Champion разработано с учетом потребностей российских потребителей и адаптировано к российским климатическим условиям. Продукция бренда отличается своей долговечностью и продуманностью полного цикла замены комплектующих. Постоянное наличие запчастей и расходников для любой техники позволяет продлить срок эксплуатации оборудования в течение многих лет. Благодаря постоянным инновациям, долговечности и оптимальному соотношению цены и качества, техника Чемпион уже многие годы остается одним из лидеров на рынке садовой техники.</p>
        </div>
        <div class="company__description--item">
            <h3>Дом инструмента – ваш надежный помощник!</h3>
            <p>Инструменты Чемпион (Champion) включают в себя всю линейку садово-бытовых устройств: газонокосилки, мотоблоки и культиваторы, бензопилы, триммеры, дизельные и бензиновые генераторы, двигатели для любой техники, снегоуборочная и садовая техника. В нашем интернет-магазине представлена только оригинальная продукция известного производителя техники для садовых и строительных работ Champion.</p>
        </div>
    </section>
    <section class="company__link">
        <div class="company__link--item">
            <h2>Мы на Авито</h2>
            <p>Ознакомтесь с нашими отзывами на <a href="https://www.avito.ru/brands/i168439789/all?sellerId=b097d3cf52fe209a38b6e473d1c74904">Авито</a></p>
        </div>
        <div class="company__link--item">
            <h2>О нас на Яндексе</h2>
            <p>Ознакомтесь с нашими отзывами на <a href="https://dominstrumenta.clients.site/">Яндексе</a></p>
        </div>
    </section>
</div>
{% endblock content %}